[submodule "backend"]
	path = backend
	url = https://github.com/netoudi/codeflix-microservice-videos-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/netoudi/codeflix-microservice-videos-frontend
